In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv('ds_clean/ds_clean_timeset.csv')
dfs = {location: group for location, group in df.groupby('LocationCode')}
for location, group in dfs.items():
    print(f"LocationCode: {location}")
    print(group)
    print()

LocationCode: 1
        LocationCode  WindSpeed(m/s)  Pressure(hpa)  Temperature(°C)  \
587855             1             0.0        1016.50             17.5
587856             1             0.0        1016.53             17.5
587857             1             0.0        1016.57             17.5
587858             1             0.0        1016.58             17.5
587859             1             0.0        1016.59             17.5
...              ...             ...            ...              ...
683763             1             0.0         959.80             25.1
683764             1             0.0         959.92             25.1
683765             1             0.0         960.09             25.1
683766             1             0.0         959.40             25.1
683767             1             0.0         959.02             25.0

        Humidity(%)  Sunlight(Lux)  Power(mW)  DayOfYear  \
587855         86.8          25.00        0.0          1
587856         86.7          28.33        0.0          1
587857         86.7          32.50        0.0          1
587858         86.7          39.17        0.0          1
587859         86.7          45.83        0.0          1
...             ...            ...        ...        ...
683763        100.0          23.33        0.0        206
683764        100.0          23.33        0.0        206
683765        100.0          33.33        0.0        206
683766        100.0          40.00        0.0        206
683767        100.0          20.00        0.0        206

        MinutesSinceStartOfDay
587855                     391
587856                     392
587857                     393
587858                     394
587859                     395
...                        ...
683763                    1097
683764                    1098
683765                    1099
683766                    1100
683767                    1101

[95913 rows x 9 columns]

LocationCode: 2
        LocationCode  WindSpeed(m/s)  Pressure(hpa)  Temperature(°C)  \
683768             2            0.00        1013.49            26.46
683769             2            0.52        1013.47            26.33
683770             2            0.35        1013.49            26.26
683771             2            0.35        1013.48            26.12
683772             2            1.48        1013.47            26.01
...              ...             ...            ...              ...
765083             2            0.00        1002.82            27.91
765084             2            0.00        1002.82            27.99
765085             2            0.00        1002.86            28.05
765086             2            0.00        1002.84            28.12
765087             2            0.00        1002.86            28.17

        Humidity(%)  Sunlight(Lux)  Power(mW)  DayOfYear  \
683768        42.99       18575.83      61.29         17
683769        43.78       18635.00      62.20         17
683770        43.84       15628.33      42.12         17
683771        46.14       14980.83      39.39         17
683772        47.97       15128.33      40.54         17
...             ...            ...        ...        ...
765083        83.50        2147.50       1.14        204
765084        83.25        2208.33       1.29        204
765085        82.98        2273.33       1.31        204
765086        82.99        2325.83       1.32        204
765087        82.91        2355.00       1.34        204

        MinutesSinceStartOfDay
683768                     928
683769                     929
683770                     936
683771                     939
683772                     940
...                        ...
765083                     346
765084                     347
765085                     348
765086                     349
765087                     350

[81320 rows x 9 columns]

LocationCode: 3
        LocationCode  WindSpeed(m/s)  Pressure(hpa)  Temperature(°C)  \
765088             3            0.00        1015.57            17.52
765089             3            2.00        1015.57            17.71
765090             3            3.05        1015.65            17.71
765091             3            3.14        1015.71            17.70
765092             3            3.40        1015.71            17.64
...              ...             ...            ...              ...
814703             3            0.00        1003.94            47.05
814704             3            0.00        1003.96            47.07
814705             3            0.00        1003.99            47.15
814706             3            0.00        1003.90            46.53
814707             3            0.00        1003.91            46.51

        Humidity(%)  Sunlight(Lux)  Power(mW)  DayOfYear  \
765088        50.71        7444.58      12.28         69
765089        50.37        8425.83      16.26         69
765090        49.53        9068.33      18.32         69
765091        50.13        8687.50      16.49         69
765092        50.09        8210.00      14.88         69
...             ...            ...        ...        ...
814703        38.20      117758.20    1489.19        192
814704        38.27      117758.20    1491.42        192
814705        37.53      117758.20    1496.63        192
814706        38.03      117758.20    1506.62        192
814707        38.94      117758.20    1501.09        192

        MinutesSinceStartOfDay
765088                     846
765089                     847
765090                     848
765091                     849
765092                     850
...                        ...
814703                     666
814704                     667
814705                     668
814706                     669
814707                     670

[49620 rows x 9 columns]

LocationCode: 4
        LocationCode  WindSpeed(m/s)  Pressure(hpa)  Temperature(°C)  \
814708             4             0.0        1001.65            24.76
814709             4             0.0        1001.67            24.78
814710             4             0.0        1001.70            24.78
814711             4             0.0        1001.71            24.80
814712             4             0.0        1001.71            24.81
...              ...             ...            ...              ...
865843             4             0.0        1002.50            30.53
865844             4             0.0        1002.54            30.65
865845             4             0.0        1002.54            30.80
865846             4             0.0        1002.56            31.04
865847             4             0.0        1002.55            31.29

        Humidity(%)  Sunlight(Lux)  Power(mW)  DayOfYear  \
814708        83.50          23.33       0.00        109
814709        83.34          29.17       0.00        109
814710        83.48          37.50       0.00        109
814711        83.49          46.67       0.00        109
814712        83.43          59.17       0.00        109
...             ...            ...        ...        ...
865843       100.00        3938.33      13.32        204
865844       100.00        3858.33       8.43        204
865845       100.00        4027.50      12.14        204
865846       100.00        4168.33      15.99        204
865847       100.00        4245.83      18.65        204

        MinutesSinceStartOfDay
814708                     317
814709                     318
814710                     319
814711                     320
814712                     321
...                        ...
865843                     367
865844                     368
865845                     369
865846                     370
865847                     371

[51140 rows x 9 columns]

LocationCode: 5
        LocationCode  WindSpeed(m/s)  Pressure(hpa)  Temperature(°C)  \
865848             5            0.00        1004.53            33.80
865849             5            1.74        1004.50            34.08
865850             5            0.96        1004.54            34.22
865851             5            2.18        1004.49            34.04
865852             5            1.48        1004.53            34.20
...              ...             ...            ...              ...
915240             5            0.70        1005.29            36.54
915241             5            2.09        1005.31            36.73
915242             5            0.00        1005.35            37.07
915243             5            0.00        1005.37            37.56
915244             5            0.00        1005.36            37.97

        Humidity(%)  Sunlight(Lux)  Power(mW)  DayOfYear  \
865848        52.77       27306.25     234.75        112
865849        51.42       40567.50     332.46        112
865850        51.05       27715.00      94.14        112
865851        51.10       29259.17     111.05        112
865852        51.05       34108.33     196.04        112
...             ...            ...        ...        ...
915240        60.19        4668.33       2.84        201
915241        59.34        4699.17       2.86        201
915242        58.28        4720.83       2.86        201
915243        57.32        4745.00       2.86        201
915244        55.25        4694.17       2.84        201

        MinutesSinceStartOfDay
865848                     992
865849                     992
865850                     993
865851                     994
865852                     995
...                        ...
915240                     371
915241                     372
915242                     373
915243                     374
915244                     375

[49397 rows x 9 columns]

LocationCode: 6
        LocationCode  WindSpeed(m/s)  Pressure(hpa)  Temperature(°C)  \
915245             6            0.00        1006.95            25.15
915246             6            0.61        1007.46            25.52
915247             6            0.00        1007.75            25.73
915248             6            0.00        1007.83            25.73
915249             6            0.00        1007.77            25.74
...              ...             ...            ...              ...
962039             6            5.40         960.71            25.57
962040             6            3.75         960.97            25.55
962041             6            4.27         961.31            25.53
962042             6            3.57         961.10            25.55
962043             6            2.35         961.22            25.56

        Humidity(%)  Sunlight(Lux)  Power(mW)  DayOfYear  \
915245        63.45        5500.83       6.29        135
915246        63.11        5389.17       6.17        135
915247        63.25        5675.83       7.28        135
915248        63.06        6033.33       8.43        135
915249        62.96        6390.00       9.20        135
...             ...            ...        ...        ...
962039       100.00         139.17       0.01        206
962040       100.00         121.67       0.00        206
962041       100.00         110.83       0.00        206
962042       100.00          99.17       0.00        206
962043       100.00         111.67       0.00        206

        MinutesSinceStartOfDay
915245                    1010
915246                    1011
915247                    1012
915248                    1013
915249                    1014
...                        ...
962039                    1058
962040                    1059
962041                    1060
962042                    1061
962043                    1062

[46799 rows x 9 columns]

LocationCode: 7
        LocationCode  WindSpeed(m/s)  Pressure(hpa)  Temperature(°C)  \
962044             7            0.00        1006.37            27.06
962045             7            4.09        1006.39            27.20
962046             7            3.66        1006.37            27.28
962047             7            0.00        1006.40            27.33
962048             7            0.00        1006.37            27.35
...              ...             ...            ...              ...
999797             7            0.00        1001.96            46.84
999798             7            0.00        1001.99            46.84
999799             7            0.00        1001.95            46.71
999800             7            0.00        1002.01            46.79
999801             7            0.00        1002.02            46.68

        Humidity(%)  Sunlight(Lux)  Power(mW)  DayOfYear  \
962044        61.03        3382.50       2.00        138
962045        60.55        3457.50       2.03        138
962046        60.36        3247.50       1.77        138
962047        60.17        3678.33       2.31        138
962048        60.08        3598.33       2.13        138
...             ...            ...        ...        ...
999797        22.05      109196.09    1676.70        204
999798        22.36      109523.12    1684.48        204
999799        22.81      109275.15    1678.50        204
999800        21.96      109280.54    1686.74        204
999801        21.98      109769.29    1695.75        204

        MinutesSinceStartOfDay
962044                    1014
962045                    1015
962046                    1016
962047                    1017
962048                    1018
...                        ...
999797                     625
999798                     626
999799                     627
999800                     628
999801                     629

[37758 rows x 9 columns]

LocationCode: 8
         LocationCode  WindSpeed(m/s)  Pressure(hpa)  Temperature(°C)  \
999802              8             0.0        1016.10            14.67
999803              8             0.0        1016.10            14.65
999804              8             0.0        1016.07            14.63
999805              8             0.0        1016.02            14.61
999806              8             0.0        1016.06            14.60
...               ...             ...            ...              ...
1111036             8             0.0        1002.31            40.37
1111037             8             0.0        1002.33            40.13
1111038             8             0.0        1002.36            39.96
1111039             8             0.0        1002.36            39.57
1111040             8             0.0        1002.26            39.30

         Humidity(%)  Sunlight(Lux)  Power(mW)  DayOfYear  \
999802         80.94          23.33       0.00          6
999803         80.95          25.83       0.00          6
999804         81.00          30.83       0.00          6
999805         81.02          35.00       0.00          6
999806         81.07          41.67       0.00          6
...              ...            ...        ...        ...
1111036        38.86       12590.83      32.83        244
1111037        39.45       13351.67      40.63        244
1111038        40.12       13168.33      38.16        244
1111039        40.80       13605.83      43.10        244
1111040        41.12       13608.33      43.40        244

         MinutesSinceStartOfDay
999802                      381
999803                      382
999804                      383
999805                      384
999806                      385
...                         ...
1111036                     907
1111037                     908
1111038                     909
1111039                     910
1111040                     911

[111239 rows x 9 columns]

LocationCode: 9
         LocationCode  WindSpeed(m/s)  Pressure(hpa)  Temperature(°C)  \
1111041             9             0.0        1013.37            22.68
1111042             9             0.0        1013.38            22.64
1111043             9             0.0        1013.41            22.63
1111044             9             0.0        1013.43            22.63
1111045             9             0.0        1013.46            22.63
...               ...             ...            ...              ...
1194888             9             0.0         994.54            30.69
1194889             9             0.0         994.40            30.27
1194890             9             0.0         994.39            29.90
1194891             9             0.0         994.40            29.38
1194892             9             0.0         994.58            29.06

         Humidity(%)  Sunlight(Lux)  Power(mW)  DayOfYear  \
1111041        74.51          21.67       0.00         52
1111042        74.77          28.33       0.00         52
1111043        74.72          35.00       0.01         52
1111044        74.89          44.17       0.00         52
1111045        74.71          54.17       0.00         52
...              ...            ...        ...        ...
1194888        72.91        2288.33       1.10        205
1194889        73.16        3236.67       1.92        205
1194890        72.51        4526.67       3.57        205
1194891        73.23        4231.67       3.13        205
1194892        74.22        3685.83       2.46        205

         MinutesSinceStartOfDay
1111041                     367
1111042                     368
1111043                     369
1111044                     370
1111045                     371
...                         ...
1194888                     950
1194889                     951
1194890                     952
1194891                     953
1194892                     954

[83852 rows x 9 columns]

LocationCode: 10
       LocationCode  WindSpeed(m/s)  Pressure(hpa)  Temperature(°C)  \
0                10             0.0        1017.48            15.59
1                10             0.0        1017.48            15.66
2                10             0.0        1017.47            15.74
3                10             0.0        1017.46            15.78
4                10             0.0        1017.49            15.80
...             ...             ...            ...              ...
85575            10             0.0        1004.27            27.36
85576            10             0.0        1004.25            27.37
85577            10             0.0        1004.29            27.37
85578            10             0.0        1004.29            27.38
85579            10             0.0        1004.28            27.39

       Humidity(%)  Sunlight(Lux)  Power(mW)  DayOfYear  \
0            94.30         652.92       0.12         61
1            94.04         682.50       0.12         61
2            94.10         750.00       0.14         61
3            94.09         738.33       0.14         61
4            94.08         660.83       0.12         61
...            ...            ...        ...        ...
85575        88.72         102.50       0.00        204
85576        88.78         115.00       0.01        204
85577        88.88         129.17       0.01        204
85578        88.88         144.17       0.01        204
85579        88.62         161.67       0.01        204

       MinutesSinceStartOfDay
0                        1034
1                        1034
2                        1035
3                        1036
4                        1037
...                       ...
85575                     315
85576                     316
85577                     317
85578                     318
85579                     319

[85580 rows x 9 columns]

LocationCode: 11
        LocationCode  WindSpeed(m/s)  Pressure(hpa)  Temperature(°C)  \
85580             11             0.0        1017.09            16.03
85581             11             0.0        1017.07            16.00
85582             11             0.0        1017.05            15.98
85583             11             0.0        1017.06            15.97
85584             11             0.0        1017.06            15.94
...              ...             ...            ...              ...
136783            11             0.0        1006.85            32.26

In [3]:
from datetime import datetime, timedelta
models = {}
for source in range(1,18):
    for destination in range(1,18):
        if source == destination:
            continue
        a = dfs[destination].copy()
        b = dfs[source].copy()
        base_year = 2024
        a['DateTime'] = a.apply(lambda row: datetime(base_year, 1, 1) + timedelta(days=int(row['DayOfYear'])-1, minutes=int(row['MinutesSinceStartOfDay'])), axis=1)
        b['DateTime'] = b.apply(lambda row: datetime(base_year, 1, 1) + timedelta(days=int(row['DayOfYear'])-1, minutes=int(row['MinutesSinceStartOfDay'])), axis=1)
        a['DateTime'] = pd.to_datetime(a['DateTime'])
        b['DateTime'] = pd.to_datetime(b['DateTime'])
        # 他有重複的資料(一分鐘內記了兩次)
        # print(a[a['IsDuplicate']==True])
        a = a.drop_duplicates(subset=['DateTime'])
        b = b.drop_duplicates(subset=['DateTime'])

        # print("Unique DateTime in a:", len(a['DateTime'].unique()))
        # print("Unique DateTime in b:", len(b['DateTime'].unique()))
        common_times = pd.merge(a, b, on='DateTime', how='inner')
        common_set = set(common_times['DateTime'])
        a_filtered = a[a['DateTime'].isin(common_set)]
        b_filtered = b[b['DateTime'].isin(common_set)]
        a_filtered = a_filtered.sort_values(by='DateTime').reset_index(drop=True)
        b_filtered = b_filtered.sort_values(by='DateTime').reset_index(drop=True)
        # print(a_filtered)
        # print(b_filtered)
        # print("Unique DateTime in a_filter:", len(a_filtered['DateTime'].unique()))
        # print("Unique DateTime in b_filter:", len(b_filtered['DateTime'].unique()))
        # print("Common DateTime in a and b:", len(common_times))
        # print("Duplicates in a['DateTime']:", a['DateTime'].duplicated().sum())
        # print("Duplicates in b['DateTime']:", b['DateTime'].duplicated().sum())
        # print("Duplicates in a_filtered['DateTime']:", a_filtered['DateTime'].duplicated().sum())
        # print("Duplicates in b_filtered['DateTime']:", b_filtered['DateTime'].duplicated().sum())
        # print("Duplicates in common_times['DateTime']:", common_times['DateTime'].duplicated().sum())
        y = a_filtered['Power(mW)']
        X = b_filtered.drop(columns=['DateTime'])
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
        model = xgb.XGBRegressor()
        model.fit(X_train, y_train)
        y_pred = model.predict(X_test)
        mae = mean_absolute_error(y_test, y_pred)
        cumulative_mae = mae * len(y_test)
        print(f"cumulative_mae: {cumulative_mae}")
        models[(source, destination)] = model

cumulative_mae: 294394.36388204055
cumulative_mae: 244141.86230452353
cumulative_mae: 199119.66834462323
cumulative_mae: 240338.51358886913
cumulative_mae: 222888.46663281397
cumulative_mae: 177324.63128692537
cumulative_mae: 319699.64726632764
cumulative_mae: 186607.7123191114
cumulative_mae: 322348.3887674819
cumulative_mae: 65387.44762668634
cumulative_mae: 245113.00584445783
cumulative_mae: 281235.34717480245
cumulative_mae: 373544.75724798325
cumulative_mae: 565227.9914645373
cumulative_mae: 520127.2993620911
cumulative_mae: 682674.189630192
cumulative_mae: 278046.006078011
cumulative_mae: 145257.74979360914
cumulative_mae: 155568.13388372434
cumulative_mae: 187509.88766841346
cumulative_mae: 130492.7029117583
cumulative_mae: 66543.97623738484
cumulative_mae: 237063.97959225735
cumulative_mae: 179179.48953925338
cumulative_mae: 242445.57766685382
cumulative_mae: 60186.63269697556
cumulative_mae: 185821.53988867375
cumulative_mae: 278442.17659635167
cumulative_mae: 276218.94153181417
cumulative_mae: 546192.6322921072
cumulative_mae: 406440.6828387415
cumulative_mae: 496058.3126474551
cumulative_mae: 190343.15152646095
cumulative_mae: 155143.59340426914
cumulative_mae: 175966.66437744244
cumulative_mae: 232525.7838553619
cumulative_mae: 142694.15338783525
cumulative_mae: 135313.81452773884
cumulative_mae: 95063.18753332482
cumulative_mae: 128655.4714074865
cumulative_mae: 279057.9190545383
cumulative_mae: 78218.31622992994
cumulative_mae: 146793.21708843016
cumulative_mae: 190760.6354991342
cumulative_mae: 279430.5663676537
cumulative_mae: 451797.9220722472
cumulative_mae: 471994.08448548726
cumulative_mae: 320644.70576539275
cumulative_mae: 149313.4797705041
cumulative_mae: 147056.7567594573
cumulative_mae: 176146.59263185866
cumulative_mae: 178088.9817866991
cumulative_mae: 220750.0497331713
cumulative_mae: 191743.99673754562
cumulative_mae: 87353.42986591882
cumulative_mae: 76110.35443601564
cumulative_mae: 203148.6230295202
cumulative_mae: 15548.832765299781
cumulative_mae: 145386.66241091088
cumulative_mae: 75586.12082063452
cumulative_mae: 146152.5010770231
cumulative_mae: 356874.0385138275
cumulative_mae: 348324.74353080237
cumulative_mae: 261626.78686659777
cumulative_mae: 189585.05290791354
cumulative_mae: 167359.57255954616
cumulative_mae: 223030.6987869562
cumulative_mae: 186864.71041593858
cumulative_mae: 210878.68212349465
cumulative_mae: 219494.40240451202
cumulative_mae: 80585.69079410392
cumulative_mae: 97003.72100182562
cumulative_mae: 219383.96565547277
cumulative_mae: 29244.48609493267
cumulative_mae: 158326.18064471372
cumulative_mae: 97661.19802435499
cumulative_mae: 166839.77555122547
cumulative_mae: 402931.0362798722
cumulative_mae: 342364.9514722548
cumulative_mae: 285043.6073799927
cumulative_mae: 166139.30161907926
cumulative_mae: 90972.66623455114
cumulative_mae: 141219.6145715368
cumulative_mae: 191522.47663539322
cumulative_mae: 189449.0551708786
cumulative_mae: 203437.32258716063
cumulative_mae: 57017.753677462475
cumulative_mae: 99061.7905095388
cumulative_mae: 146034.9419818466
cumulative_mae: 15022.191678656673
cumulative_mae: 147341.09095732786
cumulative_mae: 107518.255333419
cumulative_mae: 136422.0940193385
cumulative_mae: 303880.9353268993
cumulative_mae: 259575.75650332152
cumulative_mae: 257541.21118400828
cumulative_mae: 108824.79395546956
cumulative_mae: 47226.67008995846
cumulative_mae: 99810.52950711705
cumulative_mae: 154488.7281675215
cumulative_mae: 163470.2763305524
cumulative_mae: 195086.82566657057
cumulative_mae: 37302.719447347365
cumulative_mae: 65709.3136112238
cumulative_mae: 126803.41153975375
cumulative_mae: 10072.531855707923
cumulative_mae: 120373.84875842636
cumulative_mae: 83348.65909142126
cumulative_mae: 97430.47774221294
cumulative_mae: 219824.71588997456
cumulative_mae: 210417.97384076967
cumulative_mae: 169782.98435057016
cumulative_mae: 743606.2676666838
cumulative_mae: 630743.8891237398
cumulative_mae: 286958.27205162775
cumulative_mae: 258419.182531669
cumulative_mae: 258778.0188004267
cumulative_mae: 227135.94208237616
cumulative_mae: 189099.1142028001
cumulative_mae: 295421.1796403704
cumulative_mae: 416097.4364918309
cumulative_mae: 115610.92714451774
cumulative_mae: 193324.68777981517
cumulative_mae: 344850.9798228224
cumulative_mae: 502486.8006057006
cumulative_mae: 728923.9841346815
cumulative_mae: 647534.7291988116
cumulative_mae: 925497.5821703058
cumulative_mae: 512044.42998620105
cumulative_mae: 420460.06809727603
cumulative_mae: 341750.6084937658
cumulative_mae: 313796.799281061
cumulative_mae: 358674.88009961665
cumulative_mae: 451504.0437485275
cumulative_mae: 299331.4458915344
cumulative_mae: 313330.72473817476
cumulative_mae: 473955.5344940553
cumulative_mae: 89005.44192085564
cumulative_mae: 424697.4872892706
cumulative_mae: 309171.8650365737
cumulative_mae: 442087.7722355881
cumulative_mae: 662478.3412980514
cumulative_mae: 686321.3225460325
cumulative_mae: 543182.5294959686
cumulative_mae: 399015.6751900813
cumulative_mae: 352848.0732280965
cumulative_mae: 429300.8146072225
cumulative_mae: 384778.06102415884
cumulative_mae: 381505.47429693997
cumulative_mae: 319817.3563714629
cumulative_mae: 274897.1885903877
cumulative_mae: 270062.8668270476
cumulative_mae: 238149.7618224006
cumulative_mae: 115099.11610792727
cumulative_mae: 402066.2425291809
cumulative_mae: 281913.36921997287
cumulative_mae: 356361.1643091924
cumulative_mae: 735349.0816442794
cumulative_mae: 765993.0361567659
cumulative_mae: 554730.4258971277
cumulative_mae: 245896.88986183555
cumulative_mae: 212147.1041616538
cumulative_mae: 245314.08438628426
cumulative_mae: 131942.83795066125
cumulative_mae: 175049.98702194286
cumulative_mae: 111350.93848128252
cumulative_mae: 133529.79585310697
cumulative_mae: 188508.7368153831
cumulative_mae: 171024.10862940934
cumulative_mae: 301737.9314687526
cumulative_mae: 186589.30517650052
cumulative_mae: 241608.4378154978
cumulative_mae: 299199.2237463763
cumulative_mae: 351117.96353361395
cumulative_mae: 348061.12173770997
cumulative_mae: 299980.8002773925
cumulative_mae: 454678.9010599889
cumulative_mae: 432741.44460832624
cumulative_mae: 457147.71510931494
cumulative_mae: 316001.7314546727
cumulative_mae: 311891.01355307817
cumulative_mae: 284091.30877036985
cumulative_mae: 232247.71375369548
cumulative_mae: 155503.13039593823
cumulative_mae: 355994.4767674415
cumulative_mae: 481197.225498396
cumulative_mae: 133354.33130410156
cumulative_mae: 282808.8770141998
cumulative_mae: 368711.46030163555
cumulative_mae: 623515.6838896543
cumulative_mae: 658600.853655945
cumulative_mae: 428477.68448295235
cumulative_mae: 308579.1967367536
cumulative_mae: 330794.31188398926
cumulative_mae: 250361.53648939758
cumulative_mae: 106511.35425986991
cumulative_mae: 151039.02509262168
cumulative_mae: 174826.34891653934
cumulative_mae: 149137.8093497948
cumulative_mae: 202196.47630330667
cumulative_mae: 204334.3702676811
cumulative_mae: 220231.72006903443
cumulative_mae: 91017.56480194195
cumulative_mae: 172831.13246619242
cumulative_mae: 208836.46228162872
cumulative_mae: 373524.0268859613
cumulative_mae: 365152.5286614873
cumulative_mae: 386066.18320699094
cumulative_mae: 338040.8806029848
cumulative_mae: 295103.4064661251
cumulative_mae: 292801.19673009356
cumulative_mae: 158247.92329791523
cumulative_mae: 176044.26218581322
cumulative_mae: 191297.53605072535
cumulative_mae: 132490.71139700204
cumulative_mae: 301839.10598190076
cumulative_mae: 209468.27939936204
cumulative_mae: 264792.8149208526
cumulative_mae: 92969.96805711645
cumulative_mae: 189893.04042314008
cumulative_mae: 169138.11377192452
cumulative_mae: 503696.59820207115
cumulative_mae: 356890.85193321353
cumulative_mae: 455922.8986390024
cumulative_mae: 605252.2512752095
cumulative_mae: 653584.3484321933
cumulative_mae: 476558.4792209861
cumulative_mae: 388556.3449360046
cumulative_mae: 415492.3896547043
cumulative_mae: 291099.0512439676
cumulative_mae: 243947.74072865822
cumulative_mae: 488194.93250163127
cumulative_mae: 334445.54651913285
cumulative_mae: 571634.907203157
cumulative_mae: 133515.0709364555
cumulative_mae: 365209.62106396555
cumulative_mae: 331569.5605361732
cumulative_mae: 558032.6903518204
cumulative_mae: 316722.01571223675
cumulative_mae: 606316.550701971
cumulative_mae: 534850.1795777497
cumulative_mae: 463256.5476951066
cumulative_mae: 510835.09446458274
cumulative_mae: 461417.93255643186
cumulative_mae: 418624.11386321904
cumulative_mae: 352489.0190873381
cumulative_mae: 269544.5666394711
cumulative_mae: 349060.761300481
cumulative_mae: 341576.14813152986
cumulative_mae: 601115.0210812723
cumulative_mae: 139531.48238582455
cumulative_mae: 410960.88908818644
cumulative_mae: 291953.9328927252
cumulative_mae: 370265.88785566925
cumulative_mae: 330014.5029627034
cumulative_mae: 358410.1677728191
cumulative_mae: 839047.8126023496
cumulative_mae: 659700.3917708901
cumulative_mae: 389613.16027070343
cumulative_mae: 365693.9448299925
cumulative_mae: 353637.548910014
cumulative_mae: 374784.05007404846
cumulative_mae: 252992.18823342054
cumulative_mae: 602230.3851701586
cumulative_mae: 312470.9215494949
cumulative_mae: 475776.054799174
cumulative_mae: 113372.00070630712
cumulative_mae: 278829.26289700135
cumulative_mae: 360465.4684169919
cumulative_mae: 536586.0451518983
cumulative_mae: 612429.8292323797
cumulative_mae: 434282.9250255343

In [4]:
day_minute_model = dfs.copy()
time_models = {}
for i in range(1,18):
    day_minute_model[i]  = day_minute_model[i][["MinutesSinceStartOfDay","DayOfYear","Power(mW)"]]
    day_minute_model[i] = day_minute_model[i].drop_duplicates(subset=['MinutesSinceStartOfDay','DayOfYear'])

for i in range(1,18):
    X = day_minute_model[i][["MinutesSinceStartOfDay","DayOfYear"]]
    y = day_minute_model[i][["Power(mW)"]]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
    model = xgb.XGBRegressor()
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mae = mean_absolute_error(y_test, y_pred)
    cumulative_mae = mae * len(y_test)
    print(f"cumulative_mae: {cumulative_mae}")
    time_models[i] = model

cumulative_mae: 1516420.323570965
cumulative_mae: 1262161.2910176152
cumulative_mae: 742026.0730977455
cumulative_mae: 673698.5749490535
cumulative_mae: 705016.816560562
cumulative_mae: 682927.0825222626
cumulative_mae: 453159.21923047485
cumulative_mae: 938742.4362818906
cumulative_mae: 502476.03142640425
cumulative_mae: 908562.8549131765
cumulative_mae: 149170.1354569563
cumulative_mae: 614451.1733248897
cumulative_mae: 674080.8172726127
cumulative_mae: 837733.3824745021
cumulative_mae: 1078529.3718543812
cumulative_mae: 896378.4181768288
cumulative_mae: 1297637.0745270795

In [21]:
base_year = 2024
second_layer_models = {}
for destination in range(1,18):
    destination_unique_time = dfs[destination].drop_duplicates(subset=['MinutesSinceStartOfDay','DayOfYear']).copy()
    destination_unique_time['DateTime'] = destination_unique_time.apply(lambda row: datetime(base_year, 1, 1) + timedelta(days=int(row['DayOfYear'])-1, minutes=int(row['MinutesSinceStartOfDay'])), axis=1)
    unique_timeset = set(destination_unique_time['DateTime'])
    merged_rest = []
    for source in [k for k in range(1, 18) if k != destination]:
        value = dfs[source].copy()
        value['DateTime'] = value.apply(lambda row: datetime(base_year, 1, 1) + timedelta(days=int(row['DayOfYear'])-1, minutes=int(row['MinutesSinceStartOfDay'])), axis=1)
        value.drop_duplicates(subset=['DateTime'], inplace=True)
        merged_rest.append(value)

    merged_rest_dfs = pd.concat(merged_rest, ignore_index=True)
    merged_rest_dfs['DateTime'] = merged_rest_dfs.apply(lambda row: datetime(base_year, 1, 1) + timedelta(days=int(row['DayOfYear'])-1, minutes=int(row['MinutesSinceStartOfDay'])), axis=1)
    merged_rest_dfs['anticipated_power'] = None

    for source in [k for k in range(1, 18) if k != destination]:
        subset = merged_rest_dfs[merged_rest_dfs['LocationCode'] == source]
        features = subset.drop(columns=['DateTime', 'anticipated_power'])
        predictions = models[(source, destination)].predict(features)
        predictions = predictions.astype(float)
        merged_rest_dfs.loc[merged_rest_dfs['LocationCode'] == source, 'anticipated_power'] = predictions

    merged_rest_dfs['anticipated_power'] = pd.to_numeric(merged_rest_dfs['anticipated_power'], errors='coerce')
    second_train = merged_rest_dfs[['DayOfYear', 'MinutesSinceStartOfDay', 'DateTime', 'LocationCode', 'anticipated_power']]

    # 將資料 pivot，使每個 LocationCode 都會有自己的 anticipated_power 欄位
    second_train_pivot = second_train.pivot(index=['DayOfYear', 'MinutesSinceStartOfDay', 'DateTime'], 
                        columns='LocationCode', values='anticipated_power')

    # 將欄位名稱改成想要的格式，如 LocationXAnticipated
    second_train_pivot.columns = [f"Location{int(col)}Anticipated" for col in second_train_pivot.columns]

    # 將原本的複合索引重設為欄位，這樣 DayOfYear、MinutesSinceStartOfDay、DateTime 都會變成普通的 columns
    second_train_pivot = second_train_pivot.reset_index()
    self_features = second_train_pivot[[ 'MinutesSinceStartOfDay','DayOfYear']]
    self_predictions = time_models[destination].predict(self_features)
    second_train_pivot[f'Location{destination}Anticipated'] = self_predictions
    
    
    second_train_merged = pd.merge(destination_unique_time, second_train_pivot, on=['DateTime'], how='inner')
    second_train_merged.rename(columns={'Power(mW)': f'Location{destination}Actual'}, inplace=True)
    print(second_train_merged.columns)
    X = second_train_merged[['Location1Anticipated', 'Location2Anticipated', 'Location3Anticipated', 'Location4Anticipated', 'Location5Anticipated', 'Location6Anticipated', 'Location7Anticipated', 'Location8Anticipated', 'Location9Anticipated', 'Location10Anticipated', 'Location11Anticipated', 'Location12Anticipated', 'Location13Anticipated', 'Location14Anticipated', 'Location15Anticipated', 'Location16Anticipated', 'Location17Anticipated']]
    print(X.dtypes)
    y = second_train_merged[f'Location{destination}Actual']
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
    model = xgb.XGBRegressor(missing=np.nan, enable_categorical=True)
    print(X_train.dtypes)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mae = mean_absolute_error(y_test, y_pred)
    cumulative_mae = mae * len(y_test)
    print(f"cumulative_mae: {cumulative_mae} ")
    print(f"mae: {mae}")
    second_layer_models[destination] = model

# a_locaiton_unique_time = dfs[1].drop_duplicates(subset=['MinutesSinceStartOfDay','DayOfYear']).copy()
# a_locaiton_unique_time['DateTime'] = a_locaiton_unique_time.apply(lambda row: datetime(base_year, 1, 1) + timedelta(days=int(row['DayOfYear'])-1, minutes=int(row['MinutesSinceStartOfDay'])), axis=1)
# unique_timeset = set(a_locaiton_unique_time['DateTime'])
# merged_rest = []
# for key in [k for k in range(2, 18) if k in dfs]:
#     value = dfs[key].copy()
#     value['DateTime'] = value.apply(lambda row: datetime(base_year, 1, 1) + timedelta(days=int(row['DayOfYear'])-1, minutes=int(row['MinutesSinceStartOfDay'])), axis=1)
#     value.drop_duplicates(subset=['DateTime'], inplace=True)
#     merged_rest.append(value)

# merged_rest_dfs = pd.concat(merged_rest, ignore_index=True)
    

# merged_rest_dfs['DateTime'] = merged_rest_dfs.apply(lambda row: datetime(base_year, 1, 1) + timedelta(days=int(row['DayOfYear'])-1, minutes=int(row['MinutesSinceStartOfDay'])), axis=1)
# merged_rest_dfs['anticipated_power'] = None
# merged_rest_dfs

Index(['LocationCode', 'WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)',
       'Humidity(%)', 'Sunlight(Lux)', 'Location1Actual', 'DayOfYear_x',
       'MinutesSinceStartOfDay_x', 'DateTime', 'DayOfYear_y',
       'MinutesSinceStartOfDay_y', 'Location2Anticipated',
       'Location3Anticipated', 'Location4Anticipated', 'Location5Anticipated',
       'Location6Anticipated', 'Location7Anticipated', 'Location8Anticipated',
       'Location9Anticipated', 'Location10Anticipated',
       'Location11Anticipated', 'Location12Anticipated',
       'Location13Anticipated', 'Location14Anticipated',
       'Location15Anticipated', 'Location16Anticipated',
       'Location17Anticipated', 'Location1Anticipated'],
      dtype='object')
Location1Anticipated     float32
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
Location1Anticipated     float32
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
cumulative_mae: 445757.1917468265
mae: 23.290516314688674
Index(['LocationCode', 'WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)',
       'Humidity(%)', 'Sunlight(Lux)', 'Location2Actual', 'DayOfYear_x',
       'MinutesSinceStartOfDay_x', 'DateTime', 'DayOfYear_y',
       'MinutesSinceStartOfDay_y', 'Location1Anticipated',
       'Location3Anticipated', 'Location4Anticipated', 'Location5Anticipated',
       'Location6Anticipated', 'Location7Anticipated', 'Location8Anticipated',
       'Location9Anticipated', 'Location10Anticipated',
       'Location11Anticipated', 'Location12Anticipated',
       'Location13Anticipated', 'Location14Anticipated',
       'Location15Anticipated', 'Location16Anticipated',
       'Location17Anticipated', 'Location2Anticipated'],
      dtype='object')
Location1Anticipated     float64
Location2Anticipated     float32
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
Location1Anticipated     float64
Location2Anticipated     float32
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
cumulative_mae: 358174.9467384357
mae: 22.07277665239636
Index(['LocationCode', 'WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)',
       'Humidity(%)', 'Sunlight(Lux)', 'Location3Actual', 'DayOfYear_x',
       'MinutesSinceStartOfDay_x', 'DateTime', 'DayOfYear_y',
       'MinutesSinceStartOfDay_y', 'Location1Anticipated',
       'Location2Anticipated', 'Location4Anticipated', 'Location5Anticipated',
       'Location6Anticipated', 'Location7Anticipated', 'Location8Anticipated',
       'Location9Anticipated', 'Location10Anticipated',
       'Location11Anticipated', 'Location12Anticipated',
       'Location13Anticipated', 'Location14Anticipated',
       'Location15Anticipated', 'Location16Anticipated',
       'Location17Anticipated', 'Location3Anticipated'],
      dtype='object')
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float32
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float32
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
cumulative_mae: 221793.85982159467
mae: 22.371783318700288
Index(['LocationCode', 'WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)',
       'Humidity(%)', 'Sunlight(Lux)', 'Location4Actual', 'DayOfYear_x',
       'MinutesSinceStartOfDay_x', 'DateTime', 'DayOfYear_y',
       'MinutesSinceStartOfDay_y', 'Location1Anticipated',
       'Location2Anticipated', 'Location3Anticipated', 'Location5Anticipated',
       'Location6Anticipated', 'Location7Anticipated', 'Location8Anticipated',
       'Location9Anticipated', 'Location10Anticipated',
       'Location11Anticipated', 'Location12Anticipated',
       'Location13Anticipated', 'Location14Anticipated',
       'Location15Anticipated', 'Location16Anticipated',
       'Location17Anticipated', 'Location4Anticipated'],
      dtype='object')
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float32
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float32
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
cumulative_mae: 212572.85194113717
mae: 20.787487966080302
Index(['LocationCode', 'WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)',
       'Humidity(%)', 'Sunlight(Lux)', 'Location5Actual', 'DayOfYear_x',
       'MinutesSinceStartOfDay_x', 'DateTime', 'DayOfYear_y',
       'MinutesSinceStartOfDay_y', 'Location1Anticipated',
       'Location2Anticipated', 'Location3Anticipated', 'Location4Anticipated',
       'Location6Anticipated', 'Location7Anticipated', 'Location8Anticipated',
       'Location9Anticipated', 'Location10Anticipated',
       'Location11Anticipated', 'Location12Anticipated',
       'Location13Anticipated', 'Location14Anticipated',
       'Location15Anticipated', 'Location16Anticipated',
       'Location17Anticipated', 'Location5Anticipated'],
      dtype='object')
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float32
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float32
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
cumulative_mae: 186928.8575165377
mae: 18.944852287071825
Index(['LocationCode', 'WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)',
       'Humidity(%)', 'Sunlight(Lux)', 'Location6Actual', 'DayOfYear_x',
       'MinutesSinceStartOfDay_x', 'DateTime', 'DayOfYear_y',
       'MinutesSinceStartOfDay_y', 'Location1Anticipated',
       'Location2Anticipated', 'Location3Anticipated', 'Location4Anticipated',
       'Location5Anticipated', 'Location7Anticipated', 'Location8Anticipated',
       'Location9Anticipated', 'Location10Anticipated',
       'Location11Anticipated', 'Location12Anticipated',
       'Location13Anticipated', 'Location14Anticipated',
       'Location15Anticipated', 'Location16Anticipated',
       'Location17Anticipated', 'Location6Anticipated'],
      dtype='object')
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float32
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float32
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
cumulative_mae: 190662.50724528238
mae: 20.376456903418017
Index(['LocationCode', 'WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)',
       'Humidity(%)', 'Sunlight(Lux)', 'Location7Actual', 'DayOfYear_x',
       'MinutesSinceStartOfDay_x', 'DateTime', 'DayOfYear_y',
       'MinutesSinceStartOfDay_y', 'Location1Anticipated',
       'Location2Anticipated', 'Location3Anticipated', 'Location4Anticipated',
       'Location5Anticipated', 'Location6Anticipated', 'Location8Anticipated',
       'Location9Anticipated', 'Location10Anticipated',
       'Location11Anticipated', 'Location12Anticipated',
       'Location13Anticipated', 'Location14Anticipated',
       'Location15Anticipated', 'Location16Anticipated',
       'Location17Anticipated', 'Location7Anticipated'],
      dtype='object')
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float32
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float32
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
cumulative_mae: 144485.11823802063
mae: 19.149783729359925
Index(['LocationCode', 'WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)',
       'Humidity(%)', 'Sunlight(Lux)', 'Location8Actual', 'DayOfYear_x',
       'MinutesSinceStartOfDay_x', 'DateTime', 'DayOfYear_y',
       'MinutesSinceStartOfDay_y', 'Location1Anticipated',
       'Location2Anticipated', 'Location3Anticipated', 'Location4Anticipated',
       'Location5Anticipated', 'Location6Anticipated', 'Location7Anticipated',
       'Location9Anticipated', 'Location10Anticipated',
       'Location11Anticipated', 'Location12Anticipated',
       'Location13Anticipated', 'Location14Anticipated',
       'Location15Anticipated', 'Location16Anticipated',
       'Location17Anticipated', 'Location8Anticipated'],
      dtype='object')
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float32
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float32
Location9Anticipated     float64
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
cumulative_mae: 241614.20875679152
mae: 11.963468447058403
Index(['LocationCode', 'WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)',
       'Humidity(%)', 'Sunlight(Lux)', 'Location9Actual', 'DayOfYear_x',
       'MinutesSinceStartOfDay_x', 'DateTime', 'DayOfYear_y',
       'MinutesSinceStartOfDay_y', 'Location1Anticipated',
       'Location2Anticipated', 'Location3Anticipated', 'Location4Anticipated',
       'Location5Anticipated', 'Location6Anticipated', 'Location7Anticipated',
       'Location8Anticipated', 'Location10Anticipated',
       'Location11Anticipated', 'Location12Anticipated',
       'Location13Anticipated', 'Location14Anticipated',
       'Location15Anticipated', 'Location16Anticipated',
       'Location17Anticipated', 'Location9Anticipated'],
      dtype='object')
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float32
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float32
Location10Anticipated    float64
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
cumulative_mae: 164487.712864353
mae: 9.813131658772999
Index(['LocationCode', 'WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)',
       'Humidity(%)', 'Sunlight(Lux)', 'Location10Actual', 'DayOfYear_x',
       'MinutesSinceStartOfDay_x', 'DateTime', 'DayOfYear_y',
       'MinutesSinceStartOfDay_y', 'Location1Anticipated',
       'Location2Anticipated', 'Location3Anticipated', 'Location4Anticipated',
       'Location5Anticipated', 'Location6Anticipated', 'Location7Anticipated',
       'Location8Anticipated', 'Location9Anticipated', 'Location11Anticipated',
       'Location12Anticipated', 'Location13Anticipated',
       'Location14Anticipated', 'Location15Anticipated',
       'Location16Anticipated', 'Location17Anticipated',
       'Location10Anticipated'],
      dtype='object')
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float32
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
Location1Anticipated     float64
Location2Anticipated     float64
Location3Anticipated     float64
Location4Anticipated     float64
Location5Anticipated     float64
Location6Anticipated     float64
Location7Anticipated     float64
Location8Anticipated     float64
Location9Anticipated     float64
Location10Anticipated    float32
Location11Anticipated    float64
Location12Anticipated    float64
Location13Anticipated    float64
Location14Anticipated    float64
Location15Anticipated    float64
Location16Anticipated    float64
Location17Anticipated    float64
dtype: object
cumulative_mae: 310218.25368767866
mae: 18.125518766443392
Index(['LocationCode', 'WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)',
       'Humidity(%)', 'Sunlight(Lux)', 'Location11Actual', 'DayOfYear_x',
       'MinutesSinceStartOfDay_x', 'DateTime', 'DayOfYear_y',
       'MinutesSinceStartOfDay_y', 'Location1Anticipated',
       'Location2Anticipated', 'Location3Anticipated', 'Location4Anticipated',
       'Location5Anticipated', 'Location6Anticipated', 'Location7Anticipated',
       'Location8Anticipated', 'Location9Anticipated', 'Location10Anticipated',

In [6]:
# for i in range(2, 18):
#     subset = merged_rest_dfs[merged_rest_dfs['LocationCode'] == i]
#     features = subset.drop(columns=['DateTime', 'anticipated_power'])
#     predictions = models[(i, 1)].predict(features)
#     predictions = predictions.astype(float)
#     merged_rest_dfs.loc[merged_rest_dfs['LocationCode'] == i, 'anticipated_power'] = predictions

# merged_rest_dfs['anticipated_power'] = pd.to_numeric(merged_rest_dfs['anticipated_power'], errors='coerce')

# merged_rest_dfs

In [7]:
# second_train = merged_rest_dfs[['DayOfYear', 'MinutesSinceStartOfDay', 'DateTime', 'LocationCode', 'anticipated_power']]

# # 將資料 pivot，使每個 LocationCode 都會有自己的 anticipated_power 欄位
# second_train_pivot = second_train.pivot(index=['DayOfYear', 'MinutesSinceStartOfDay', 'DateTime'], 
#                     columns='LocationCode', values='anticipated_power')

# # 將欄位名稱改成想要的格式，如 LocationXAnticipated
# second_train_pivot.columns = [f"Location{int(col)}Anticipated" for col in second_train_pivot.columns]

# # 將原本的複合索引重設為欄位，這樣 DayOfYear、MinutesSinceStartOfDay、DateTime 都會變成普通的 columns
# second_train_pivot = second_train_pivot.reset_index()

# # 現在 df_pivot 裡面您就有：
# # DayOfYear, MinutesSinceStartOfDay, DateTime (作為特徵欄位)
# # 以及 Location1Anticipated, Location2Anticipated, ... 等欄位

# # second_train_pivot.drop(columns=['DateTime'], inplace=True)
# second_train_pivot

In [8]:
# self_features = second_train_pivot[[ 'MinutesSinceStartOfDay','DayOfYear']]
# self_predictions = time_models[1].predict(self_features)
# second_train_pivot['Location1Anticipated'] = self_predictions
# second_train_pivot

In [9]:
# second_train_pivot.dtypes

In [10]:
# second_train_merged = pd.merge(a_locaiton_unique_time, second_train_pivot, on=['DateTime'], how='inner')
# second_train_merged.rename(columns={'Power(mW)': 'Location1Actual'}, inplace=True)
# X = second_train_merged.drop(columns=['DateTime', 'Location1Actual'])
# y = second_train_merged['Location1Actual']
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
# model = xgb.XGBRegressor(missing=np.nan, enable_categorical=True)
# print(X_train.dtypes)
# model.fit(X_train, y_train)
# y_pred = model.predict(X_test)
# mae = mean_absolute_error(y_test, y_pred)
# cumulative_mae = mae * len(y_test)
# print(f"mae: {mae}")

## 驗證

In [11]:
question = pd.read_csv('ds_clean/upload.csv')
# 将 '序號' 列转换为字符串
question['序號'] = question['序號'].astype(str)

# 提取 DayOfYear, MinutesSinceStartOfDay 和 LocationCode
question['DayOfYear'] = pd.to_datetime(question['序號'].str[:8], format='%Y%m%d').dt.dayofyear
question['MinutesSinceStartOfDay'] = question['序號'].str[8:12].apply(lambda x: int(x[:2]) * 60 + int(x[2:4]))
question['LocationCode'] = question['序號'].str[12:14].astype(int)

# 删除原来的 '序號' 列
question = question.drop(columns=['序號'])
question

      答案  DayOfYear  MinutesSinceStartOfDay  LocationCode
0    NaN          1                     540             1
1    NaN          1                     550             1
2    NaN          1                     560             1
3    NaN          1                     570             1
4    NaN          1                     580             1
...   ..        ...                     ...           ...
9595 NaN        193                     970            17
9596 NaN        193                     980            17
9597 NaN        193                     990            17
9598 NaN        193                    1000            17
9599 NaN        193                    1010            17

[9600 rows x 4 columns]

In [12]:
for i in range(1, 18):
    question[f"Location{i}Anticipated"] = None

question


merged = question.merge(df, on=['DayOfYear', 'MinutesSinceStartOfDay'], how='left')
merged

,答案,DayOfYear,MinutesSinceStartOfDay,LocationCode_x,Location1Anticipated,Location2Anticipated,Location3Anticipated,Location4Anticipated,Location5Anticipated,Location6Anticipated,...,Location15Anticipated,Location16Anticipated,Location17Anticipated,LocationCode_y,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
0,NaN,1,540,1,None,None,None,None,None,None,...,None,None,None,17.0,0.00,1024.43,19.00,65.30,5677.50,7.08
1,NaN,1,550,1,None,None,None,None,None,None,...,None,None,None,17.0,0.00,1024.43,19.00,65.30,5152.50,5.97
2,NaN,1,560,1,None,None,None,None,None,None,...,None,None,None,17.0,0.00,1024.47,19.10,64.90,7272.50,11.50
3,NaN,1,570,1,None,None,None,None,None,None,...,None,None,None,17.0,0.00,1024.68,19.20,64.90,8965.00,16.63
4,NaN,1,580,1,None,None,None,None,None,None,...,None,None,None,17.0,0.00,1024.59,19.30,64.90,9902.50,20.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70002,NaN,193,1010,17,None,None,None,None,None,None,...,None,None,None,2.0,0.00,1000.02,36.19,52.49,7743.33,18.11
70003,NaN,193,1010,17,None,None,None,None,None,None,...,None,None,None,5.0,0.61,999.80,37.03,57.64,11121.67,24.85
70004,NaN,193,1010,17,None,None,None,None,None,None,...,None,None,None,6.0,0.00,999.32,38.18,47.47,9539.17,25.34
70005,NaN,193,1010,17,None,None,None,None,None,None,...,None,None,None,8.0,0.00,1000.20,34.53,75.54,4860.83,5.48
70006,NaN,193,1010,17,None,None,None,None,None,None,...,None,None,None,9.0,0.00,1000.50,33.15,62.07,5046.67,5.38

In [13]:
import ipdb

if 'LocationCode_x' in merged.columns and 'LocationCode_y' in merged.columns:
    # 重命名以避免混淆
    merged.rename(columns={'LocationCode_x': 'LocationCode_from', 'LocationCode_y': 'LocationCode_to'}, inplace=True)

# 確保特徵欄位存在
expected_columns = [
    'LocationCode_to',
    'WindSpeed(m/s)',
    'Pressure(hpa)',
    'Temperature(°C)',
    'Humidity(%)',
    'Sunlight(Lux)',
    'Power(mW)',
    'DayOfYear',
    'MinutesSinceStartOfDay'
]

# 處理 merged 的數值型資料
merged_numeric = merged.drop(columns=['DateTime', 'anticipated_power', '答案'], errors='ignore')
merged_numeric = merged_numeric.apply(pd.to_numeric, errors='coerce')
merged_numeric = merged_numeric.drop(
    columns=[col for col in merged_numeric.columns if col.startswith('Location') and col.endswith('Anticipated')],
    errors='ignore'
)


# 確保 merged 的數值型資料包含預期欄位
for col in expected_columns:
    if col not in merged_numeric.columns:
        raise ValueError(f"缺少必要的特徵欄位: {col}")

# 初始化所有預測欄位
for i in range(1, 18):
    merged[f'Location{i}Anticipated'] = None
print(merged_numeric.columns)
# 基於 LocationCode 處理資料
for location_from in merged_numeric['LocationCode_from'].unique():
    for location_to in question['LocationCode'].unique():
        if location_from == location_to:
            continue  # 略過相同的 LocationCode

        # 提取來源特徵資料，將 LocationCode_from 改為 LocationCode 僅限於 feats 中
      
        feats = merged_numeric[(merged_numeric['LocationCode_from'] == location_from) & (merged_numeric['LocationCode_to'] == location_to)].copy()
        feats = feats[expected_columns]
    
        feats.rename(columns={'LocationCode_to': 'LocationCode'}, inplace=True)


        # 檢查模型是否存在
        model_key = (location_to, location_from)
        if model_key not in models:
            continue  # 跳過無模型的組合

        # 使用模型進行預測
        predictions = models[model_key].predict(feats)

        # 填入對應欄位
        merged.loc[(merged_numeric['LocationCode_from'] == location_from) & (merged_numeric['LocationCode_to'] == location_to), f'Location{location_to}Anticipated'] = predictions.astype(float)

# 將結果回寫到 question


# 最終結果
print(merged.columns)
print(merged.shape)
merged

Index(['DayOfYear', 'MinutesSinceStartOfDay', 'LocationCode_from',
       'LocationCode_to', 'WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)',
       'Humidity(%)', 'Sunlight(Lux)', 'Power(mW)'],
      dtype='object')
Index(['答案', 'DayOfYear', 'MinutesSinceStartOfDay', 'LocationCode_from',
       'Location1Anticipated', 'Location2Anticipated', 'Location3Anticipated',
       'Location4Anticipated', 'Location5Anticipated', 'Location6Anticipated',
       'Location7Anticipated', 'Location8Anticipated', 'Location9Anticipated',
       'Location10Anticipated', 'Location11Anticipated',
       'Location12Anticipated', 'Location13Anticipated',
       'Location14Anticipated', 'Location15Anticipated',
       'Location16Anticipated', 'Location17Anticipated', 'LocationCode_to',
       'WindSpeed(m/s)', 'Pressure(hpa)', 'Temperature(°C)', 'Humidity(%)',
       'Sunlight(Lux)', 'Power(mW)'],
      dtype='object')
(70007, 28)

,答案,DayOfYear,MinutesSinceStartOfDay,LocationCode_from,Location1Anticipated,Location2Anticipated,Location3Anticipated,Location4Anticipated,Location5Anticipated,Location6Anticipated,...,Location15Anticipated,Location16Anticipated,Location17Anticipated,LocationCode_to,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
0,NaN,1,540,1,None,None,None,None,None,None,...,None,None,127.530617,17.0,0.00,1024.43,19.00,65.30,5677.50,7.08
1,NaN,1,550,1,None,None,None,None,None,None,...,None,None,34.25071,17.0,0.00,1024.43,19.00,65.30,5152.50,5.97
2,NaN,1,560,1,None,None,None,None,None,None,...,None,None,118.955971,17.0,0.00,1024.47,19.10,64.90,7272.50,11.50
3,NaN,1,570,1,None,None,None,None,None,None,...,None,None,385.947052,17.0,0.00,1024.68,19.20,64.90,8965.00,16.63
4,NaN,1,580,1,None,None,None,None,None,None,...,None,None,345.716705,17.0,0.00,1024.59,19.30,64.90,9902.50,20.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70002,NaN,193,1010,17,None,35.409573,None,None,None,None,...,None,None,None,2.0,0.00,1000.02,36.19,52.49,7743.33,18.11
70003,NaN,193,1010,17,None,None,None,None,23.11949,None,...,None,None,None,5.0,0.61,999.80,37.03,57.64,11121.67,24.85
70004,NaN,193,1010,17,None,None,None,None,None,60.39957,...,None,None,None,6.0,0.00,999.32,38.18,47.47,9539.17,25.34
70005,NaN,193,1010,17,None,None,None,None,None,None,...,None,None,None,8.0,0.00,1000.20,34.53,75.54,4860.83,5.48
70006,NaN,193,1010,17,None,None,None,None,None,None,...,None,None,None,9.0,0.00,1000.50,33.15,62.07,5046.67,5.38

In [14]:
merged.drop(columns=['LocationCode_to','WindSpeed(m/s)','Pressure(hpa)',	'Temperature(°C)',	'Humidity(%)',	'Sunlight(Lux)',	'Power(mW)'], inplace=True)
merged

,答案,DayOfYear,MinutesSinceStartOfDay,LocationCode_from,Location1Anticipated,Location2Anticipated,Location3Anticipated,Location4Anticipated,Location5Anticipated,Location6Anticipated,...,Location8Anticipated,Location9Anticipated,Location10Anticipated,Location11Anticipated,Location12Anticipated,Location13Anticipated,Location14Anticipated,Location15Anticipated,Location16Anticipated,Location17Anticipated
0,NaN,1,540,1,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,127.530617
1,NaN,1,550,1,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,34.25071
2,NaN,1,560,1,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,118.955971
3,NaN,1,570,1,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,385.947052
4,NaN,1,580,1,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,345.716705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70002,NaN,193,1010,17,None,35.409573,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
70003,NaN,193,1010,17,None,None,None,None,23.11949,None,...,None,None,None,None,None,None,None,None,None,None
70004,NaN,193,1010,17,None,None,None,None,None,60.39957,...,None,None,None,None,None,None,None,None,None,None
70005,NaN,193,1010,17,None,None,None,None,None,None,...,26.875599,None,None,None,None,None,None,None,None,None
70006,NaN,193,1010,17,None,None,None,None,None,None,...,None,-50.261143,None,None,None,None,None,None,None,None

In [ ]:
for i in range(1,18):
    self_predictions_subset = question[question['LocationCode'] == i][[ 'MinutesSinceStartOfDay','DayOfYear']]
    self_predictions = time_models[i].predict(self_predictions_subset)
    question.loc[question['LocationCode'] == i, f'Location{i}Anticipated'] = self_predictions

    question

,答案,DayOfYear,MinutesSinceStartOfDay,LocationCode,Location1Anticipated,Location2Anticipated,Location3Anticipated,Location4Anticipated,Location5Anticipated,Location6Anticipated,...,Location8Anticipated,Location9Anticipated,Location10Anticipated,Location11Anticipated,Location12Anticipated,Location13Anticipated,Location14Anticipated,Location15Anticipated,Location16Anticipated,Location17Anticipated
0,NaN,1,540,1,558.919067,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,NaN,1,550,1,669.169617,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,NaN,1,560,1,1117.860596,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,NaN,1,570,1,1188.838135,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,NaN,1,580,1,1334.312256,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9595,NaN,193,970,17,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,9.838187
9596,NaN,193,980,17,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,6.937551
9597,NaN,193,990,17,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,5.308323
9598,NaN,193,1000,17,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,5.308323
9599,NaN,193,1010,17,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,2.237984

In [17]:
merged = merged.rename(columns={"LocationCode_from": "LocationCode"})

# 2. 合併數據：按鍵值合併
keys = ['DayOfYear', 'MinutesSinceStartOfDay', 'LocationCode']

# 合併兩個 DataFrame，外聯接保證所有鍵值完整
combined = pd.merge(question, merged, on=keys, suffixes=('_question', '_merged'), how='outer')

# 3. 數值欄位融合
# 對 `LocationXAnticipated` 欄位逐列進行融合處理
location_cols = [col for col in combined.columns if "Location" in col and "Anticipated" in col]

fused_data = pd.DataFrame()
for col in location_cols:
    # 將 `question` 和 `merged` 的列合併，優先保留 `question` 的值
    if '_question' in col:
        base_col = col.replace('_question', '')
        question_col = col
        merged_col = base_col + '_merged'
        fused_data[base_col] = combined[question_col].combine_first(combined[merged_col])

# 4. 保留不參與融合的欄位（包括鍵值和 `答案`）
result = pd.concat([combined[keys], fused_data], axis=1)
result['答案'] = combined['答案_question']  # 保持 `答案` 欄位原樣

# 5. 檢查鍵值是否缺失，若缺失則報錯
if result[keys].isnull().any().any():
    raise ValueError("合併後發現鍵值缺失，請檢查數據來源。")

# 6. 確保數據唯一性，對鍵值去重
result = result.drop_duplicates(subset=keys)
result

,DayOfYear,MinutesSinceStartOfDay,LocationCode,Location1Anticipated,Location2Anticipated,Location3Anticipated,Location4Anticipated,Location5Anticipated,Location6Anticipated,Location7Anticipated,...,Location9Anticipated,Location10Anticipated,Location11Anticipated,Location12Anticipated,Location13Anticipated,Location14Anticipated,Location15Anticipated,Location16Anticipated,Location17Anticipated,答案
0,1,540,1,558.919067,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,127.530617,NaN
1,1,550,1,669.169617,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,34.25071,NaN
2,1,560,1,1117.860596,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,118.955971,NaN
3,1,570,1,1188.838135,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,385.947052,NaN
4,1,580,1,1334.312256,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,345.716705,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69982,203,970,7,None,None,None,None,None,None,49.998367,...,None,-69.706429,None,None,None,None,None,None,None,NaN
69987,203,980,7,None,None,None,None,None,None,38.31118,...,None,-28.291557,None,None,None,None,None,None,None,NaN
69992,203,990,7,None,None,None,None,None,None,38.622398,...,None,-53.597542,None,None,None,None,None,None,None,NaN
69997,203,1000,7,None,None,None,None,None,None,29.207642,...,None,-13.941762,None,None,None,None,None,None,None,NaN
70002,203,1010,7,None,None,None,None,None,None,29.207642,...,None,-12.058594,None,None,None,None,None,None,None,NaN

In [24]:
for i in range(1,18):
    subset = result[result['LocationCode'] == i]
    features = subset.drop(columns=['DayOfYear', 'MinutesSinceStartOfDay', 'LocationCode', '答案'])
    features = features.apply(lambda col: pd.to_numeric(col, errors='coerce') if col.dtype == 'object' else col)
    predictions = second_layer_models[i].predict(features)
    result.loc[result['LocationCode'] == i, '答案'] = predictions

result

,DayOfYear,MinutesSinceStartOfDay,LocationCode,Location1Anticipated,Location2Anticipated,Location3Anticipated,Location4Anticipated,Location5Anticipated,Location6Anticipated,Location7Anticipated,...,Location9Anticipated,Location10Anticipated,Location11Anticipated,Location12Anticipated,Location13Anticipated,Location14Anticipated,Location15Anticipated,Location16Anticipated,Location17Anticipated,答案
0,1,540,1,558.919067,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,127.530617,324.234222
1,1,550,1,669.169617,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,34.25071,458.043518
2,1,560,1,1117.860596,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,118.955971,587.771973
3,1,570,1,1188.838135,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,385.947052,713.345276
4,1,580,1,1334.312256,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,345.716705,477.877319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69982,203,970,7,None,None,None,None,None,None,49.998367,...,None,-69.706429,None,None,None,None,None,None,None,32.443695
69987,203,980,7,None,None,None,None,None,None,38.31118,...,None,-28.291557,None,None,None,None,None,None,None,27.607430
69992,203,990,7,None,None,None,None,None,None,38.622398,...,None,-53.597542,None,None,None,None,None,None,None,27.607430
69997,203,1000,7,None,None,None,None,None,None,29.207642,...,None,-13.941762,None,None,None,None,None,None,None,12.766551
70002,203,1010,7,None,None,None,None,None,None,29.207642,...,None,-12.058594,None,None,None,None,None,None,None,12.766551

寫回序列

In [27]:
final_result = result[['DayOfYear', 'MinutesSinceStartOfDay', 'LocationCode', '答案']].copy()
final_result["Date"] = final_result["DayOfYear"].apply(lambda x: (datetime(2024, 1, 1) + timedelta(days=x-1)).strftime("%Y%m%d"))
final_result["HHMM"] = final_result["MinutesSinceStartOfDay"].apply(lambda x: f"{x // 60:02}{x % 60:02}")
final_result["LocationCodeStr"] = final_result["LocationCode"].apply(lambda x: f"{x:02}")
final_result["序號"] = final_result["Date"] + final_result["HHMM"] + final_result["LocationCodeStr"]
final_result

,DayOfYear,MinutesSinceStartOfDay,LocationCode,答案,Date,HHMM,LocationCodeStr,序號
0,1,540,1,324.234222,20240101,0900,01,20240101090001
1,1,550,1,458.043518,20240101,0910,01,20240101091001
2,1,560,1,587.771973,20240101,0920,01,20240101092001
3,1,570,1,713.345276,20240101,0930,01,20240101093001
4,1,580,1,477.877319,20240101,0940,01,20240101094001
...,...,...,...,...,...,...,...,...
69982,203,970,7,32.443695,20240721,1610,07,20240721161007
69987,203,980,7,27.607430,20240721,1620,07,20240721162007
69992,203,990,7,27.607430,20240721,1630,07,20240721163007
69997,203,1000,7,12.766551,20240721,1640,07,20240721164007
70002,203,1010,7,12.766551,20240721,1650,07,20240721165007

In [29]:
final_result = final_result.sort_values(
    by=["LocationCode", "Date", "HHMM"],  # 按照多個列排序
    key=lambda col: col.astype(int),      # 將所有列轉換為 int 後排序
    ascending=True                        # 遞增排序
).reset_index(drop=True)                  # 重設索引
final_result

,DayOfYear,MinutesSinceStartOfDay,LocationCode,答案,Date,HHMM,LocationCodeStr,序號
0,1,540,1,324.234222,20240101,0900,01,20240101090001
1,1,550,1,458.043518,20240101,0910,01,20240101091001
2,1,560,1,587.771973,20240101,0920,01,20240101092001
3,1,570,1,713.345276,20240101,0930,01,20240101093001
4,1,580,1,477.877319,20240101,0940,01,20240101094001
...,...,...,...,...,...,...,...,...
9595,193,970,17,6.852645,20240711,1610,17,20240711161017
9596,193,980,17,6.852645,20240711,1620,17,20240711162017
9597,193,990,17,6.852645,20240711,1630,17,20240711163017
9598,193,1000,17,6.852645,20240711,1640,17,20240711164017
9599,193,1010,17,6.330856,20240711,1650,17,20240711165017

In [30]:
upload_df = pd.DataFrame()
upload_df = final_result[['序號', '答案']]

In [34]:
upload_df.to_csv('upload.csv', index=False)

In [33]:
import zipfile
with zipfile.ZipFile("upload.zip", 'w') as zf:
    zf.write("ds_clean/upload.csv")