In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
import os

# Directory containing the CSV files
directory = 'DS_Dataset'

# List to hold individual DataFrames
dfs = []

# Iterate over each file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv') and filename != 'upload.csv':
        file_path = os.path.join(directory, filename)
        df = pd.read_csv(file_path)
        dfs.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(dfs, ignore_index=True)

print(combined_df)

         LocationCode             DateTime  WindSpeed(m/s)  Pressure(hpa)  \
0                  10  2024-03-01 17:14:06             0.0        1017.48
1                  10  2024-03-01 17:14:47             0.0        1017.48
2                  10  2024-03-01 17:15:47             0.0        1017.47
3                  10  2024-03-01 17:16:47             0.0        1017.46
4                  10  2024-03-01 17:17:47             0.0        1017.49
...               ...                  ...             ...            ...
1194888             9  2024-07-23 15:50:57             0.0         994.54
1194889             9  2024-07-23 15:51:57             0.0         994.40
1194890             9  2024-07-23 15:52:57             0.0         994.39
1194891             9  2024-07-23 15:53:57             0.0         994.40
1194892             9  2024-07-23 15:54:57             0.0         994.58

         Temperature(°C)  Humidity(%)  Sunlight(Lux)  Power(mW)
0                  15.59        94.30         652.92       0.12
1                  15.66        94.04         682.50       0.12
2                  15.74        94.10         750.00       0.14
3                  15.78        94.09         738.33       0.14
4                  15.80        94.08         660.83       0.12
...                  ...          ...            ...        ...
1194888            30.69        72.91        2288.33       1.10
1194889            30.27        73.16        3236.67       1.92
1194890            29.90        72.51        4526.67       3.57
1194891            29.38        73.23        4231.67       3.13
1194892            29.06        74.22        3685.83       2.46

[1194893 rows x 8 columns]

In [4]:
# Create the directory if it doesn't exist
if not os.path.exists('ds_clean'):
    os.makedirs('ds_clean')

# Save the combined DataFrame to the specified directory
combined_df.to_csv('ds_clean/ds_clean.csv', index=False)

In [8]:
# List to hold individual DataFrames for specific files
specific_dfs = []

# List of specific files to combine
specific_files = ['L1_Train.csv', 'L2_Train.csv', 'L3_Train.csv']

# Iterate over each file in the directory
for filename in specific_files:
    file_path = os.path.join(directory, filename)
    df = pd.read_csv(file_path)
    specific_dfs.append(df)

# Concatenate the specific DataFrames into a single DataFrame
specific_combined_df = pd.concat(specific_dfs, ignore_index=True)

# Save the specific combined DataFrame to the specified directory
specific_combined_df.to_csv('ds_clean/specific_ds_clean.csv', index=False)

specific_combined_df

,LocationCode,DateTime,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
0,1,2024-01-01 06:31:08,0.0,1016.50,17.50,86.80,25.00,0.00
1,1,2024-01-01 06:32:08,0.0,1016.53,17.50,86.70,28.33,0.00
2,1,2024-01-01 06:33:08,0.0,1016.57,17.50,86.70,32.50,0.00
3,1,2024-01-01 06:34:08,0.0,1016.58,17.50,86.70,39.17,0.00
4,1,2024-01-01 06:35:08,0.0,1016.59,17.50,86.70,45.83,0.00
...,...,...,...,...,...,...,...,...
226848,3,2024-07-10 11:06:07,0.0,1003.94,47.05,38.20,117758.20,1489.19
226849,3,2024-07-10 11:07:07,0.0,1003.96,47.07,38.27,117758.20,1491.42
226850,3,2024-07-10 11:08:07,0.0,1003.99,47.15,37.53,117758.20,1496.63
226851,3,2024-07-10 11:09:07,0.0,1003.90,46.53,38.03,117758.20,1506.62
226852,3,2024-07-10 11:10:07,0.0,1003.91,46.51,38.94,117758.20,1501.09