In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
from sklearn import preprocessing

In [28]:

# Load the CSV file into a DataFrame
df = pd.read_csv('ds_clean/ds_clean.csv')
df

,LocationCode,DateTime,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
0,10,2024-03-01 17:14:06,0.0,1017.48,15.59,94.30,652.92,0.12
1,10,2024-03-01 17:14:47,0.0,1017.48,15.66,94.04,682.50,0.12
2,10,2024-03-01 17:15:47,0.0,1017.47,15.74,94.10,750.00,0.14
3,10,2024-03-01 17:16:47,0.0,1017.46,15.78,94.09,738.33,0.14
4,10,2024-03-01 17:17:47,0.0,1017.49,15.80,94.08,660.83,0.12
...,...,...,...,...,...,...,...,...
1194888,9,2024-07-23 15:50:57,0.0,994.54,30.69,72.91,2288.33,1.10
1194889,9,2024-07-23 15:51:57,0.0,994.40,30.27,73.16,3236.67,1.92
1194890,9,2024-07-23 15:52:57,0.0,994.39,29.90,72.51,4526.67,3.57
1194891,9,2024-07-23 15:53:57,0.0,994.40,29.38,73.23,4231.67,3.13
1194892,9,2024-07-23 15:54:57,0.0,994.58,29.06,74.22,3685.83,2.46

In [29]:
# Convert the 'DateTime' column to datetime format
df['DateTime'] = pd.to_datetime(df['DateTime'])

# Extract the date part and calculate the day of the year
df['DayOfYear'] = df['DateTime'].dt.dayofyear
# Calculate the number of minutes since the start of the day
df['MinutesSinceStartOfDay'] = df['DateTime'].dt.hour * 60 + df['DateTime'].dt.minute
# Display the updated DataFrame
df = df.drop(columns=['DateTime'])
df

,LocationCode,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),DayOfYear,MinutesSinceStartOfDay
0,10,0.0,1017.48,15.59,94.30,652.92,0.12,61,1034
1,10,0.0,1017.48,15.66,94.04,682.50,0.12,61,1034
2,10,0.0,1017.47,15.74,94.10,750.00,0.14,61,1035
3,10,0.0,1017.46,15.78,94.09,738.33,0.14,61,1036
4,10,0.0,1017.49,15.80,94.08,660.83,0.12,61,1037
...,...,...,...,...,...,...,...,...,...
1194888,9,0.0,994.54,30.69,72.91,2288.33,1.10,205,950
1194889,9,0.0,994.40,30.27,73.16,3236.67,1.92,205,951
1194890,9,0.0,994.39,29.90,72.51,4526.67,3.57,205,952
1194891,9,0.0,994.40,29.38,73.23,4231.67,3.13,205,953
1194892,9,0.0,994.58,29.06,74.22,3685.83,2.46,205,954

In [30]:
question = pd.read_csv('ds_clean/upload.csv')
question

                  序號  答案
0     20240101090001 NaN
1     20240101091001 NaN
2     20240101092001 NaN
3     20240101093001 NaN
4     20240101094001 NaN
...              ...  ..
9595  20240711161017 NaN
9596  20240711162017 NaN
9597  20240711163017 NaN
9598  20240711164017 NaN
9599  20240711165017 NaN

[9600 rows x 2 columns]

In [31]:
# 将 '序號' 列转换为字符串
question['序號'] = question['序號'].astype(str)

# 提取 DayOfYear, MinutesSinceStartOfDay 和 LocationCode
question['DayOfYear'] = pd.to_datetime(question['序號'].str[:8], format='%Y%m%d').dt.dayofyear
question['MinutesSinceStartOfDay'] = question['序號'].str[8:12].apply(lambda x: int(x[:2]) * 60 + int(x[2:4]))
question['LocationCode'] = question['序號'].str[12:14].astype(int)

# 删除原来的 '序號' 列
question = question.drop(columns=['序號'])

# 显示更新后的 DataFrame
question.head(50)

    答案  DayOfYear  MinutesSinceStartOfDay  LocationCode
0  NaN          1                     540             1
1  NaN          1                     550             1
2  NaN          1                     560             1
3  NaN          1                     570             1
4  NaN          1                     580             1
5  NaN          1                     590             1
6  NaN          1                     600             1
7  NaN          1                     610             1
8  NaN          1                     620             1
9  NaN          1                     630             1
10 NaN          1                     640             1
11 NaN          1                     650             1
12 NaN          1                     660             1
13 NaN          1                     670             1
14 NaN          1                     680             1
15 NaN          1                     690             1
16 NaN          1                     700             1
17 NaN          1                     710             1
18 NaN          1                     720             1
19 NaN          1                     730             1
20 NaN          1                     740             1
21 NaN          1                     750             1
22 NaN          1                     760             1
23 NaN          1                     770             1
24 NaN          1                     780             1
25 NaN          1                     790             1
26 NaN          1                     800             1
27 NaN          1                     810             1
28 NaN          1                     820             1
29 NaN          1                     830             1
30 NaN          1                     840             1
31 NaN          1                     850             1
32 NaN          1                     860             1
33 NaN          1                     870             1
34 NaN          1                     880             1
35 NaN          1                     890             1
36 NaN          1                     900             1
37 NaN          1                     910             1
38 NaN          1                     920             1
39 NaN          1                     930             1
40 NaN          1                     940             1
41 NaN          1                     950             1
42 NaN          1                     960             1
43 NaN          1                     970             1
44 NaN          1                     980             1
45 NaN          1                     990             1
46 NaN          1                    1000             1
47 NaN          1                    1010             1
48 NaN         13                     540             1
49 NaN         13                     550             1

In [ ]:
# 获取 question 的第 0 行数据
row = question.iloc[0]

# 提取 DayOfYear 和 MinutesSinceStartOfDay
day = row['DayOfYear']
minute = row['MinutesSinceStartOfDay']

# 初始化一个空的 DataFrame 来存储结果
feature_offset = pd.DataFrame()

# 定义一个函数来查找邻近的数据
def find_nearby_data(day, minute, df, feature_offset, max_records=50, min_days=0):
    # 查找同一天同一分钟的数据
    same_day_same_minute = df[(df['DayOfYear'] == day) & (df['MinutesSinceStartOfDay'] == minute)]
    same_day_same_minute = same_day_same_minute.copy() # Explicitly create a copy
    same_day_same_minute['DayOffset'] = 0
    same_day_same_minute['MinuteOffset'] = 0
    feature_offset = pd.concat([feature_offset, same_day_same_minute])
    
    # 如果找到的数据已经超过 max_records 条，且满足 min_days，返回结果
    if len(feature_offset) >= max_records and (feature_offset['DayOffset'].abs().max() >= min_days):
        return feature_offset
    
    # 查找同一天前后 60 分钟的数据
    for offset in range(1, 61):
        same_day_prev_minute = df[(df['DayOfYear'] == day) & (df['MinutesSinceStartOfDay'] == minute - offset)]
        same_day_prev_minute = same_day_prev_minute.copy() # Explicitly create a copy
        same_day_prev_minute['DayOffset'] = 0
        same_day_prev_minute['MinuteOffset'] = -offset
        feature_offset = pd.concat([feature_offset, same_day_prev_minute])
        
        same_day_next_minute = df[(df['DayOfYear'] == day) & (df['MinutesSinceStartOfDay'] == minute + offset)]
        same_day_next_minute = same_day_next_minute.copy() # Explicitly create a copy
        same_day_next_minute['DayOffset'] = 0
        same_day_next_minute['MinuteOffset'] = offset
        feature_offset = pd.concat([feature_offset, same_day_next_minute])
        
        if len(feature_offset) >= max_records and (feature_offset['DayOffset'].abs().max() >= min_days):
            return feature_offset
    
    # 查找前后几天的数据
    for day_offset in range(1, 366):
        prev_day = df[(df['DayOfYear'] == day - day_offset) & (df['MinutesSinceStartOfDay'] == minute)]
        prev_day = prev_day.copy() # Explicitly create a copy
        prev_day['DayOffset'] = -day_offset
        prev_day['MinuteOffset'] = 0
        feature_offset = pd.concat([feature_offset, prev_day])
        
        next_day = df[(df['DayOfYear'] == day + day_offset) & (df['MinutesSinceStartOfDay'] == minute)]
        next_day = next_day.copy() # Explicitly create a copy
        next_day['DayOffset'] = day_offset
        next_day['MinuteOffset'] = 0
        feature_offset = pd.concat([feature_offset, next_day])
        
        if len(feature_offset) >= max_records and (feature_offset['DayOffset'].abs().max() >= min_days):
            return feature_offset
        
        # 查找前后几天前后 60 分钟的数据
        for offset in range(1, 61):
            prev_day_prev_minute = df[(df['DayOfYear'] == day - day_offset) & (df['MinutesSinceStartOfDay'] == minute - offset)]
            prev_day_prev_minute = prev_day_prev_minute.copy() # Explicitly create a copy
            prev_day_prev_minute['DayOffset'] = -day_offset
            prev_day_prev_minute['MinuteOffset'] = -offset
            feature_offset = pd.concat([feature_offset, prev_day_prev_minute])
            
            prev_day_next_minute = df[(df['DayOfYear'] == day - day_offset) & (df['MinutesSinceStartOfDay'] == minute + offset)]
            prev_day_next_minute = prev_day_next_minute.copy() # Explicitly create a copy
            prev_day_next_minute['DayOffset'] = -day_offset
            prev_day_next_minute['MinuteOffset'] = offset
            feature_offset = pd.concat([feature_offset, prev_day_next_minute])
            
            next_day_prev_minute = df[(df['DayOfYear'] == day + day_offset) & (df['MinutesSinceStartOfDay'] == minute - offset)]
            next_day_prev_minute = next_day_prev_minute.copy() # Explicitly create a copy
            next_day_prev_minute['DayOffset'] = day_offset
            next_day_prev_minute['MinuteOffset'] = -offset
            feature_offset = pd.concat([feature_offset, next_day_prev_minute])
            
            next_day_next_minute = df[(df['DayOfYear'] == day + day_offset) & (df['MinutesSinceStartOfDay'] == minute + offset)]
            next_day_next_minute = next_day_next_minute.copy() # Explicitly create a copy
            next_day_next_minute['DayOffset'] = day_offset
            next_day_next_minute['MinuteOffset'] = offset
            feature_offset = pd.concat([feature_offset, next_day_next_minute])
            
            if len(feature_offset) >= max_records and (feature_offset['DayOffset'].abs().max() >= min_days):
                return feature_offset
    
    return feature_offset

# 查找邻近的数据
feature_offset = find_nearby_data(day, minute, df, feature_offset)
# 插入 [DayOffset = 0, MinuteOffset = 0, LocationCode = row 的 LocationCode]
# Display the feature_offset
selected_features = ['DayOffset','MinuteOffset','LocationCode']
feature_offset = feature_offset[selected_features]
new_row = pd.DataFrame({'DayOffset': [0], 'MinuteOffset': [0], 'LocationCode': [row['LocationCode']]})
feature_offset = pd.concat([feature_offset, new_row], ignore_index=True)

# Filter the feature_offset to include only the first 500 records
feature_offset = feature_offset.head(500)


# Display the updated feature_offset
feature_offset

In [59]:
data_array_np = df[['LocationCode', 'DayOfYear', 'MinutesSinceStartOfDay', 'Power(mW)']].to_numpy()
condition = feature_offset[['LocationCode', 'DayOffset', 'MinuteOffset']].to_numpy()
unique_day_minute_combinations = df[['DayOfYear', 'MinutesSinceStartOfDay']].drop_duplicates().to_numpy()

condition_array = []
for i in range(unique_day_minute_combinations.shape[0]):
    condition_cp = condition.copy()
    condition_cp[: , 1:3] += unique_day_minute_combinations[i]
    condition_array.append(condition_cp)

In [61]:
mask_array = [np.isin(data_array_np[:, :3], condition_array[i]).all(axis=1) for i in range(len(condition_array))]

KeyboardInterrupt:

In [ ]:
masked_result = [data_array_np[mask_array[i], 3] for i in range(len(mask_array))]

In [25]:

def generate_training_data(df, feature_offset, max_records=500):
    """
    Generate training data by using the provided feature_offset as input.
    - df: DataFrame, the full dataset
    - feature_offset: DataFrame, specifying DayOffset, MinuteOffset, and LocationCode
    - max_records: int, maximum number of records to include for each sample

    Returns:
    - train_set: DataFrame with generated features
    """
    train_set = pd.DataFrame()

    for _, row in feature_offset.iterrows():
        day = row['DayOffset'] + df['DayOfYear'].iloc[0]
        minute = row['MinuteOffset'] + df['MinutesSinceStartOfDay'].iloc[0]
        location_code = row['LocationCode']

        # Filter matching rows in the main dataset
        matching_rows = df[(df['DayOfYear'] == day) &
                           (df['MinutesSinceStartOfDay'] == minute) &
                           (df['LocationCode'] == location_code)]

        if not matching_rows.empty:
            # Add matching rows to the training set
            train_set = pd.concat([train_set, matching_rows], ignore_index=True)

        # Limit the size of the training set
        if len(train_set) >= max_records:
            break

    return train_set

# Generate training data
train_set = generate_training_data(df, feature_offset)
train_set

,LocationCode,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW),DayOfYear,MinutesSinceStartOfDay
0,17,0.00,1020.10,17.8,87.6,529.17,0.09,61,1034
1,17,0.00,1020.08,17.7,92.5,505.83,0.09,61,1033
2,1,0.44,1013.53,15.2,100.0,817.50,0.26,61,1033
3,17,0.00,1020.09,17.7,84.2,557.50,0.10,61,1035
4,17,0.00,1020.04,17.5,93.7,500.00,0.10,61,1032
5,1,0.35,1013.52,15.2,100.0,748.33,0.20,61,1032
6,17,0.00,1020.07,17.5,81.3,543.33,0.10,61,1036
7,17,0.00,1020.09,17.2,93.6,515.83,0.10,61,1031
8,1,0.44,1013.49,15.2,100.0,739.17,0.19,61,1031
9,17,0.00,1020.05,17.2,80.3,546.67,0.10,61,1037
10,17,0.00,1020.16,17.0,93.3,533.33,0.10,61,1030
11,1,0.78,1013.39,15.2,100.0,850.00,0.27,61,1030
12,17,0.00,1020.09,17.0,79.9,590.00,0.11,61,1038
13,17,0.00,1020.14,16.8,93.9,560.83,0.10,61,1029
14,1,0.52,1013.30,15.2,100.0,977.50,0.31,61,1029
15,17,0.00,1020.04,16.7,79.8,572.50,0.10,61,1039
16,17,0.00,1020.12,16.5,95.6,620.83,0.11,61,1028
17,1,1.57,1013.24,15.2,100.0,1107.50,0.32,61,1028
18,17,0.00,1020.17,16.5,80.0,540.83,0.10,61,1040
19,17,0.00,1020.05,16.2,96.5,664.17,0.12,61,1027
20,1,1.39,1013.24,15.2,100.0,1222.50,0.45,61,1027
21,17,0.00,1020.24,16.3,80.0,511.67,0.10,61,1041
22,17,0.00,1019.95,15.9,96.7,675.00,0.16,61,1026
23,1,0.00,1013.22,15.2,100.0,1392.50,0.56,61,1026
24,17,0.00,1020.23,16.1,80.1,450.83,0.06,61,1042
25,17,0.00,1019.90,15.5,96.0,633.33,0.12,61,1025
26,1,0.00,1013.23,15.2,100.0,1503.33,0.71,61,1025
27,17,0.00,1020.20,16.0,80.3,390.83,0.06,61,1043
28,17,0.00,1019.87,15.2,95.0,564.17,0.10,61,1024
29,1,0.00,1013.23,15.2,100.0,1459.17,0.63,61,1024
30,17,0.00,1020.16,15.8,80.3,348.33,0.05,61,1044
31,17,0.00,1019.79,14.9,93.5,540.83,0.10,61,1023
32,1,1.05,1013.23,15.3,100.0,1285.83,0.45,61,1023
33,17,0.00,1020.11,15.7,80.6,335.00,0.05,61,1045
34,17,0.00,1019.81,14.7,91.5,555.83,0.10,61,1022
35,1,1.31,1013.24,15.3,100.0,1073.33,0.31,61,1022
36,17,0.00,1020.07,15.6,80.8,351.67,0.04,61,1046
37,17,0.00,1019.93,14.6,89.1,580.00,0.10,61,1021
38,1,1.13,1013.26,15.3,100.0,969.17,0.28,61,1021
39,17,0.00,1020.02,15.5,81.2,365.83,0.04,61,1047
40,17,0.00,1020.02,14.7,88.8,583.33,0.11,61,1020
41,1,0.17,1013.22,15.3,100.0,1030.83,0.28,61,1020
42,17,0.00,1019.99,15.4,81.5,350.83,0.05,61,1048
43,17,0.00,1020.01,14.7,89.1,565.83,0.10,61,1019
44,1,0.52,1013.21,15.4,100.0,1105.83,0.31,61,1019
45,17,0.00,1020.03,15.4,81.9,334.17,0.04,61,1049
46,17,0.00,1019.96,14.7,89.2,603.33,0.11,61,1018
47,1,0.78,1013.19,15.4,100.0,1377.50,0.54,61,1018
48,17,0.00,1020.17,15.3,82.4,306.67,0.04,61,1050
49,17,0.00,1020.00,14.7,89.2,709.17,0.17,61,1017
50,1,2.18,1013.17,15.4,100.0,1744.17,0.77,61,1017
51,17,0.00,1020.18,15.3,82.7,272.50,0.02,61,1051
52,1,0.26,1013.53,15.1,100.0,933.33,0.31,61,1034

In [11]:
# 初始化一个空的 DataFrame 来存储结果
train_set = pd.DataFrame()

# 遍历 feature_offset 的每一行
for index, row in feature_offset.iterrows():
    # 根据 DayOffset, MinuteOffset 和 LocationCode 从 df 中查找匹配的行
    matching_rows = df[(df['DayOfYear'] == (day + row['DayOffset'])) &
                       (df['MinutesSinceStartOfDay'] == (minute + row['MinuteOffset'])) &
                       (df['LocationCode'] == row['LocationCode'])]
    
    # 如果找到匹配的行，将其 Power(mW) 值添加到 train_set 中
    if not matching_rows.empty:
        train_set = pd.concat([train_set, matching_rows[['Power(mW)']]], ignore_index=True)

# 将 train_set 的列名设置为 feature_offset 的行数
train_set.columns = [f'Feature_{i}' for i in range(train_set.shape[1])]

# 显示 train_set
train_set

    Feature_0
0        7.08
1        7.04
2       14.30
3        7.13
4        6.51
5       16.34
6        7.25
7        6.01
8       17.92
9        7.06
10       6.19
11      16.04
12       7.10
13       7.25
14      11.39
15       7.23
16       8.48
17       8.60
18       7.73
19       9.63
20       7.03
21       7.78
22       9.78
23       7.28
24       7.30
25       7.85
26       8.49
27       6.61
28       7.28
29      11.20
30       5.97
31       7.93
32      13.72
33       5.44
34       8.16
35      13.62
36       5.00
37       7.78
38      13.03
39       5.29
40       7.80
41      12.92
42       5.42
43       7.65
44      11.95
45       6.10
46       7.10
47       8.83
48       8.35
49       6.10
50       6.88
51      11.04